.elementor-5 .elementor-element.elementor-element-afed191>.elementor-container {
    min-height: 90px;
}

.elementor-5 .elementor-element.elementor-element-afed191>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-5 .elementor-element.elementor-element-afed191:not(.elementor-motion-effects-element-type-background),
.elementor-5 .elementor-element.elementor-element-afed191>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-5 .elementor-element.elementor-element-afed191 {
    box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 100;
}

.elementor-5 .elementor-element.elementor-element-afed191>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5 .elementor-element.elementor-element-e669dc9 {
    text-align: left;
}

.elementor-5 .elementor-element.elementor-element-e669dc9>.elementor-widget-container {
    padding: 0px 0px 0px 15px;
}

.elementor-bc-flex-widget .elementor-5 .elementor-element.elementor-element-e2138ee.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-5 .elementor-element.elementor-element-e2138ee.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgba(35, 164, 85, 0);
    font-size: 29px;
    border-width: 0px;
    border-radius: 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu .elementor-item {
    font-size: 16px;
    font-weight: 600;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item {
    color: #000000;
    fill: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item:hover,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item:focus {
    color: #a66900;
    fill: #a66900;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #ffffff;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed .elementor-item:before,
.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed .elementor-item:after {
    border-color: #ffffff;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #a66900;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-underline .elementor-item:after,
.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-overline .elementor-item:before,
.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-double-line .elementor-item:before,
.elementor-5 .elementor-element.elementor-element-b9b0169 .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 {
    --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-menu-toggle {
    color: #ffffff;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown {
    background-color: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a:hover,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a.highlighted,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-menu-toggle:hover {
    color: #ffffff;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a:hover,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #ffffff;
    background-color: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown .elementor-item,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-size: 18px;
    text-transform: capitalize;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 div.elementor-menu-toggle {
    color: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 div.elementor-menu-toggle svg {
    fill: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 div.elementor-menu-toggle:hover {
    color: #000000;
}

.elementor-5 .elementor-element.elementor-element-b9b0169>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-5 .elementor-element.elementor-element-afed191>.elementor-container {
        min-height: 90px;
    }

    .elementor-5 .elementor-element.elementor-element-afed191 {
        padding: 0px 20px 0px 20px;
    }

    .elementor-bc-flex-widget .elementor-5 .elementor-element.elementor-element-812fbca.elementor-column .elementor-column-wrap {
        align-items: center;
    }

    .elementor-5 .elementor-element.elementor-element-812fbca.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }

    .elementor-5 .elementor-element.elementor-element-812fbca>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 10px 0px;
    }

    .elementor-bc-flex-widget .elementor-5 .elementor-element.elementor-element-e2138ee.elementor-column .elementor-column-wrap {
        align-items: flex-end;
    }

    .elementor-5 .elementor-element.elementor-element-e2138ee.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: flex-end;
        align-items: flex-end;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu .elementor-item {
        font-size: 16px;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main .elementor-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 {
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0px;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 18px !important;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-5 .elementor-element.elementor-element-afed191>.elementor-container {
        min-height: 70px;
    }

    .elementor-5 .elementor-element.elementor-element-afed191 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5 .elementor-element.elementor-element-812fbca {
        width: 40%;
    }

    .elementor-5 .elementor-element.elementor-element-e2138ee {
        width: 60%;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--dropdown a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 8px !important;
    }
}

@media(min-width:768px) {
    .elementor-5 .elementor-element.elementor-element-812fbca {
        width: 20%;
    }

    .elementor-5 .elementor-element.elementor-element-e2138ee {
        width: 80%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-5 .elementor-element.elementor-element-812fbca {
        width: 20%;
    }

    .elementor-5 .elementor-element.elementor-element-e2138ee {
        width: 80%;
    }
}

/* Start custom CSS for nav-menu, class: .elementor-element-b9b0169 */
.elementor-5 .elementor-element.elementor-element-b9b0169 {
    margin-bottom: 0;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-item {
    opacity: 0.7;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-item:hover,
.elementor-5 .elementor-element.elementor-element-b9b0169 .elementor-item-active {
    opacity: 1;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .sub-menu {
    left: 16px !important;
}

.elementor-5 .elementor-element.elementor-element-b9b0169 .sub-menu li.menu-item>a {
    line-height: 1.2;
    border: 0 !important;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-afed191 */
@media (max-width: 767px) {
    .elementor-5 .elementor-element.elementor-element-afed191.she-header-transparent-yes {
        position: relative;
        background-color: #bb1e24 !important;
    }
}

/* End custom CSS */