.elementor-2148 .elementor-element.elementor-element-7517ecf>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-2148 .elementor-element.elementor-element-98b1d62>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2148 .elementor-element.elementor-element-c0b82c7 {
    text-align: center;
}

.elementor-2148 .elementor-element.elementor-element-b6a08e0 {
    text-align: center;
}

.elementor-2148 .elementor-element.elementor-element-5ea6ad0 {
    text-align: center;
    color: #535353;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-2148 .elementor-element.elementor-element-5ea6ad0>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

.elementor-2148 .elementor-element.elementor-element-371490b .elementor-button {
    font-size: 14px;
    fill: #db951b;
    color: #db951b;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #db951b;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
}

.elementor-2148 .elementor-element.elementor-element-371490b>.elementor-widget-container {
    margin: 25px 0px 30px 0px;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

/* Start custom CSS for image, class: .elementor-element-c0b82c7 */
.elementor-2148 .elementor-element.elementor-element-c0b82c7 {
    height: 204px;
    max-height: 204px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.elementor-2148 .elementor-element.elementor-element-c0b82c7 img {
    max-height: 204px;
}

/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-b6a08e0 */
.elementor-2148 .elementor-element.elementor-element-b6a08e0 {
    height: 204px;
    max-height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5ea6ad0 */
.elementor-2148 .elementor-element.elementor-element-5ea6ad0 {
    min-height: 104px;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7517ecf */
.elementor-2148 .elementor-element.elementor-element-7517ecf {
    height: 360px;
}

@media(max-width:767px; ) {
    .elementor-2148 .elementor-element.elementor-element-7517ecf {
        height: 340px;
    }
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-371490b */
.elementor-2148 .elementor-element.elementor-element-371490b a {
    display: inline-block;
}

/* End custom CSS */